# Basics of Python Tutorial

By Martin Grunnill
Given on 9<sup>th</sup> January as part of York University's Practicum in Industrial and Applied Math.

Python is one of the most commonly used coding languages, hosting an extensive array of packages in Data Science, Mathematics and Machine Learning. With a syntax that emphasis readability, Python is considered one of the easiest coding languages to learn. It is also free and open source. Therefore, Python code produced in a research project can be more easily shared with others and is more accessible outside of academic institutions.

This Jupyter notebook is divided into three sections:
1. Will begin by briefly introducing Jupyter Notebooks
2. Basic types in python.
3. Functions and Conditions.
4. Classes
5. Importing packages.
6. Loops

# 1 Jupyter Notebooks: A very brief introduction

We have limited time so this section will only cover enough on Jupyter notebooks to run the tutorial and point you to some extra reading on them.
Jupyter notebooks provide an excellent medium for documenting data analysis and providing demonstrations of code in action (such as this tutorial). This due to Jupyter notebooks being structured around 2 types cells. The first type of cell allows for markdown text, as is used in this cell. The second type allows for code and will display any output from the cell below it. Try running the code cell below by clicking the cell and then pressing Shift+Enter. You can even replace the output by replacing the text. To do this click on the cell replace the text and hit shift+enter.

In [1]:
# Click me, then press shift+enter and the statement in quotations should then appear below.
print('Hello World')

Hello World

Markdown cells can be edited by double clicking on them. To render them back into display text hit shift+enter. For a cheatsheet on markdown see:
* [https://www.ibm.com/docs/en/watson-studio-local/1.2.3?topic=notebooks-markdown-jupyter-cheatsheet](https://www.ibm.com/docs/en/watson-studio-local/1.2.3?topic=notebooks-markdown-jupyter-cheatsheet)

Shortcuts for Jupyter notebooks run in a browser can be found under help->show keyboard shortcuts. These shortcuts maybe different in running a Jupyter notebook in an IDE such as PyCharm or VS code.

The Jupyter project name comes from the coding languages Julia, Python and R. As such Jupyter notebooks can be setup to use those languages and many [others](https://github.com/jupyter/jupyter/wiki/Jupyter-kernels). You can even use multiple languages in the same notebook through using the command `%%` followed by the name of the language, on the first line of a cell. For a tutorials on using R within a Python based notebook see:
* [https://anderfernandez.com/en/blog/how-to-program-with-python-and-r-in-the-same-jupyter-notebook/](https://anderfernandez.com/en/blog/how-to-program-with-python-and-r-in-the-same-jupyter-notebook/)
* [https://www.askpython.com/python/examples/use-r-and-python-in-the-same-notebook](https://www.askpython.com/python/examples/use-r-and-python-in-the-same-notebook)

# 2 Basics of Python
## 2.1 Comments and block comments.

Single comments can be put into python code using #. This tells python to ignore all text after #. For example the last line of the code cell below is not read by python.

In [2]:
# Not read by ptyhon.
print('Hello')
# Also not read by ptyhon.

Hello

Similarly, text between the block quotes ''' ''' and """ """ is also not read, see example below.

In [3]:
""""
Not
read
by
python.
"""
''' Also Not read by python. '''
print('Hello')

Hello

## 2.2 Basic types
### 2.2.1 Numeric Types

As this is part of a Practicum in Industrial and Applied Math course some of the most common basic type you will be dealing with are ints and floats. Lets assign a float and int to variable.

In [4]:
forty_two = 42
pi_ish = 3.14

The in built function `type` can tell you what type a variable is. Replace the pi_sih with forty_two to see which type forty_two is.

In [5]:
type(pi_ish)

float

Basic mathmatical operations are demonstrated below.
**Note** the `display` function on the last line is a Jupyter notebook function that behaves similar way to print.

In [6]:
# Addition
add_exmpl= forty_two + pi_ish
# Subtraction
sub_exmpl = forty_two - pi_ish
# Multiplication
multiplication_exmple = forty_two * pi_ish
# Devision
devision_example = forty_two / pi_ish
# Powers
power_example = forty_two**pi_ish 
# Roots
root_example = forty_two**(1/pi_ish)
display(add_exmpl, sub_exmpl, multiplication_exmple, devision_example, power_example, root_example)

45.14

38.86

131.88

13.375796178343949

125026.7009920332

3.2882011185496975

A further note on addition. Numeric types can be added to using `+=` assignment:

In [7]:
a_number = 3
a_number += 2
a_number *= 3
display(a_number)

15

### 2.2.2 Boolean values

Bool types (short for Boolean values) can be assianed through `True` or `False`. See what happens what happens when you perform mathmatical operations on bool types:

In [8]:
a = True
b = False
display(a, b, a+b, a+a, b+b, a*b, a**2, b**2)

True

False

1

2

0

0

1

0

Boolean values can also be returned on conditional statements
* \> greater than.
* \< less than.
* == is exactly equal to.
* != is not equal to.
* \>= greater than or equal to.
* <= less than or equal to.

In [9]:
display(1>0,1<0, 1==0, 1!=0, 1>=0, 1<=0)

True

False

False

True

True

False

### 2.2.3 Strings

A string is a representation of text within python and must be surrounded by the quotation marks "" or '', see example below.

In [10]:
basic_string = "blah"
qoute_within_string = 'A quote from Douglas Adams: "Dont Panic"'
display(basic_string, qoute_within_string)

'blah'

'A quote from Douglas Adams: "Dont Panic"'

Strings can be indexed using `[]`. The first item is indexed via `[0]`, the second `[1]` and so on. The last item can be indexed via `[-1]`, the second to last `[-2]` and so on.

In [11]:
display(qoute_within_string[0], qoute_within_string[1], qoute_within_string[-1], qoute_within_string[-2])

'A'

' '

'"'

'c'

Several items in a string can be indexed via `:`.

In [12]:
example_1 = qoute_within_string[2:4] # 3rd to 4th.
example_2 = qoute_within_string[2:] #  3rd to and inscluding last.
example_3 = qoute_within_string[:5] # 1st to before 5th.
example_4 = qoute_within_string[:-1] # 1st to 2nd to last.
display(example_1, example_2, example_3, example_4)

'qu'

'quote from Douglas Adams: "Dont Panic"'

'A quo'

'A quote from Douglas Adams: "Dont Panic'

The length of a string can be determind be the function `len`.

In [13]:
len(qoute_within_string)

40

Strings can be concatanated together with `+`.

In [14]:
greetings = 'Hello' + ' ' + 'there.'
display(greetings)

'Hello there.'

Substrings within a string can be replaced with function `replace`:

In [15]:
new_HGG_qoute = qoute_within_string.replace('"Dont Panic"', '"Time is an illusion. Lunchtime doubly so."')
new_HGG_qoute

'A quote from Douglas Adams: "Time is an illusion. Lunchtime doubly so."'

## 2.3 Basic Collections.

Coolection
### 2.3.1 Lists and Tuples

Lists are one of the most common basic representation of collections of data in python coding. Any types of variables can be assigned within a list. Lists are created using `[]`:

In [16]:
odds_and_ends = ['foo', forty_two, 1, pi_ish]
display(odds_and_ends)

['foo', 42, 1, 3.14]

Single items can be added to the end of lists through the method `append` or up:

In [17]:
odds_and_ends.append(greetings)
display(odds_and_ends)

['foo', 42, 1, 3.14, 'Hello there.']

Lists can be merged/concatenated together:

In [18]:
new_list_1 = ['one',2] + [1,'two']
new_list_2 = new_list_1 + odds_and_ends
new_list_3 = [] # You can assign empty lists
new_list_3 += [qoute_within_string,new_HGG_qoute]
display(new_list_1, new_list_2, new_list_3)

['one', 2, 1, 'two']

['one', 2, 1, 'two', 'foo', 42, 1, 3.14, 'Hello there.']

['A quote from Douglas Adams: "Dont Panic"',
 'A quote from Douglas Adams: "Time is an illusion. Lunchtime doubly so."']

Lists can be indexed using `[]` just like strings. The first item is indexed via `[0]`, the second `[1]` and so on. The last item can be indexed via `[-1]`, the second to last `[-2]` and so on.

In [19]:
display(odds_and_ends[0], odds_and_ends[1], odds_and_ends[-1], odds_and_ends[-2])

'foo'

42

'Hello there.'

3.14

Several items in a list or tuples can be indexed via `:`.

In [20]:
example_1 = odds_and_ends[2:4] # 3rd to 4th.
example_2 = odds_and_ends[2:] #  3rd to and inscluding last.
example_3 = odds_and_ends[:5] # 1st to before 5th.
example_4 = odds_and_ends[:-1] # 1st to 2nd to last.
display(example_1, example_2, example_3, example_4)

[1, 3.14]

[1, 3.14, 'Hello there.']

['foo', 42, 1, 3.14, 'Hello there.']

['foo', 42, 1, 3.14]

A lists contents can be unpacked into collections at their creation or functions using `*`:

In [21]:
new_list_4 = [*new_list_3]
display(*new_list_4)

'A quote from Douglas Adams: "Dont Panic"'

'A quote from Douglas Adams: "Time is an illusion. Lunchtime doubly so."'

Tuples behave very similar to lists. They are created via `()`.

In [22]:
tuple_1 = ('foo',pi_ish, 2)
tuple_2 = ('bah', -1, -forty_two)

Tuples unlike lists cannot are immutable so the `append` method is absent from them. However, they can be concatanated to make a new tuple:

In [23]:
tuple_3 = tuple_1 + tuple_2

### 2.3.2 Range

The command `range` will produce a sequence of ints that can be indexed like a list or a tuple. Notice 42 is not the last number in test_range but 41 is.

In [24]:
test_range = range(42)
display(test_range, test_range[0], test_range[-1])

range(0, 42)

0

41

Ranges can start and stop at any int in step sizes that are int values. They can also be unpacked via `*`.

In [25]:
test_range2 = range(2,-10,-3)
display(*test_range2)

2

-1

-4

-7

### 2.3.2 Sets
Sets are unordered collections of unique objects, the elements of which cannot be altered. However, sets be added to. To create a set use `{}` or `set`. Personally I prefer  use `set` as it avoids confusion with dictionaries (see later).

In [26]:
set_1 = {*test_range2}
set_2 = set(['a',2,True])
display(set_1,set_2)

{-7, -4, -1, 2}

{2, True, 'a'}

There are multiple operation surrounding sets (most of them taken from set theory). However, sets are not as commonly used in python as lists or dictionaries, see next section. For a guide to set operations see [https://realpython.com/python-sets/](https://realpython.com/python-sets/).

### 2.3.3 Dictionaries

A dictionary is collection of key value pairs. They are created via `{key:value}`:

In [27]:
dict_1 = {'a':1, 'b':2} # typically people assign strings to keys, but keys can be other types:
dict_2 = {1:'a', 2: 'b'} # or you can have keys of different types:
dict_3 = {1:'a', 'b':2}
display(dict_1,dict_2,dict_3)

{'a': 1, 'b': 2}

{1: 'a', 2: 'b'}

{1: 'a', 'b': 2}

`dict[key]` indexes a value in a dictionary using the key:

In [28]:
display(dict_3[1],dict_3['b'])

'a'

2

Dictionaries can be added to or updated with other dictionaries:

In [29]:
dict_2[3] = 'c'
dict_3.update(dict_2)
display(dict_2,dict_3)

{1: 'a', 2: 'b', 3: 'c'}

{1: 'a', 'b': 2, 2: 'b', 3: 'c'}

Elements of a dictionary can be removed through `del`.

In [30]:
del dict_3[3]
dict_3

{1: 'a', 'b': 2, 2: 'b'}

# 3. Functions and Conditions
## 3.1 Function

In python you can create a function `def` in the following manner. Note all lines after the functions defining line (first) must start with a tab.

In [31]:
def pythgorus(a, b):
    hypothenus_squared = a**2 + b**2
    hypothenus = hypothenus_squared**(1/2)
    return hypothenus # return is needed to return a value on calling a function

pythgorus(2,3)

3.605551275463989

It is common practice to provide functions with a discription using a string block, see below. I recommend using Numpy style docstrings see [https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_numpy.html](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_numpy.html).

In [32]:
def pythgorus(a, b):
    """
    Calculates length hypotenues using Pythagorus therom.

    Parameters
    ----------
    a : int or float
        Length of side a of triangle.
    b : int or float
        Length of side b of triangle.

    Returns
    -------
    hypothenus : float
        Length of hypothenus
    """
    hypothenus_squared = a**2 + b**2
    hypothenus = hypothenus_squared**(1/2)
    return hypothenus

You can use variable names explicitly in entering values into a function (this can be done out of the order in the function definition):

In [33]:
pythgorus(b=4,a=2)

4.47213595499958

Lists can be unpacked into a function with `*`.

In [34]:
a_and_b = [2,3]
pythgorus(*a_and_b)

3.605551275463989

This can also be done with dictionaries using `**`.

In [35]:
a_and_b = {'b':2, 'a':3}
pythgorus(**a_and_b)

3.605551275463989

## 3.2 Conditions

Condition statements are extermely useful in coding. The two basic statements are `if` and `else`:
*Note* again like with functions the lines after an if and else statement must start with a tab.

In [36]:
is_this_tutorial_to_basic = False
if is_this_tutorial_to_basic:
    your_state = 'bored'
else:
    your_state = 'engaged'

display('You are '+ your_state + '.')

'You are engaged.'

The `if` `else` statements above can be swapped with the use of a `not` statement:

In [37]:
is_this_tutorial_to_basic = True
if not is_this_tutorial_to_basic:
    your_state = 'engaged'
else:
    your_state = 'bored'

display('You are '+ your_state + '.')

'You are bored.'

Python adds a combination statement of else and if called elif.

In [38]:
is_this_tutorial_to_basic = False
do_we_need_a_break_in_few_mins = True

if is_this_tutorial_to_basic:
    your_state = 'bored'
elif do_we_need_a_break_in_few_mins:
    your_state = 'getting tired'
else:
    your_state = 'engaged'

display('You are '+ your_state + '.')

'You are getting tired.'

There also `and` statements.

In [39]:
if not is_this_tutorial_to_basic and do_we_need_a_break_in_few_mins:
    your_state = 'getting tired'


display('You are '+ your_state + '.')

'You are getting tired.'

`or` statements as well.

In [40]:
tired = True
needing_toilet = True

if tired or needing_toilet:
    decision = 'We will take a break after section 3.3.'
else:
    decision = 'We will not take a break.'

decision

'We will take a break after section 3.3.'

You may also want to look up the `any` and `all` functions that check if any or all elements of a collection are True, respectively.

## 3.3 Function with conditional statements.

It is a common practice in python to use default arguments to triger conditional statements:

In [41]:
def pythgorus_and_hello(a, b, return_hello_statement=True):
    """
    Calculates length hypotenues using Pythagorus therom.

    Parameters
    ----------
    a : int or float
        Length of side a of triangle.
    b : int or float
        Length of side b of triangle.
    return_hello_statement : bool (default=True)
        Returns additional hello statement.

    Returns
    -------
    hypothenus : float
        Length of hypothenus
    """
    hypothenus_squared = a**2 + b**2
    hypothenus = hypothenus_squared**(1/2)
    if return_hello_statement:
        return hypothenus, 'hello'
    else:
        return hypothenus

pythgorus_and_hello(**a_and_b)

(3.605551275463989, 'hello')

In [42]:
pythgorus_and_hello(**a_and_b, return_hello_statement=False)

3.605551275463989

# 4. Classes

## 4.1 Defining a Class and Initilising its Instances.

As well as functions python allows you to create your own types called classes.

Here is a simple class

**Note** that like when defining a function all but the definining line must start with a tab.

In [57]:
class SimpleLine: # Class names should be written in camel case.

    name = 'line' # classes can have properties.

    def __init__(self, length): # Classes have associated functions called methods. The method __init__ is responsible for generating an instance of the class.
        """
        For instances of this class init gives them the property of length.

        Parameters
        ----------
        length : float or int
            Must be greater than 0.
        """
        if not isinstance(length,(int,float)): # this check if length is an int or float.
            raise TypeError('Length must be float or an int.') # This line raises a type error.
        if length <= 0:
            raise ValueError('Length must be greater than 0.')
        self.len = length # 'self' refers to the instance of the class.

    def __str__(self): # __str__ is a special function that is called when the print function is called on an object.
        return "I am a " + self.name + '.'

    def __len__(self):
        return self.len # __len__ is a special function that is called when the len function is called on an object.

In [58]:
liney = SimpleLine(5)
print(liney)

I am a line.

In [60]:
display('Liney is a '+liney.name + ' of length '+str(len(liney)))

'Liney is a line of length 5'

As with functions it is common practice to provide classes and methods with a discription using a string block. I recommend using Numpy style docstrings see [https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_numpy.html](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_numpy.html).

Try initilising an instance of a Simple line with a string type or a negtive float:

In [63]:
test = SimpleLine(9)

## 4.2. Inheritance and Custom Methods

Classes can inherit properties from a parent class and can have more customizable methods.

In [47]:
class Square(SimpleLine): # This new square class is inheriting from SimpleLine.
    name = 'square' # this overwrites the name property from SimpleLine.

    def __init__(self, length):
        super().__init__(length)
        self.area = self.len**2

    def volume_if_i_had_depth(self, depth):
        """
        Returns volume of a rectangular cuboid with this square on two sides.

        Parameters
        ----------
        depth : float or int
            Must be greater than 0.

        Returns
        -------
        volume: float
        """
        if not isinstance(depth,(int,float)):
            raise TypeError('depth must be float or an int.')
        if depth <= 0:
            raise ValueError('depth must be greater than 0.')
        return self.area*depth

In [48]:
squarey = Square(3)
display(squarey.name,len(squarey),squarey.volume_if_i_had_depth(6))

'square'

3

54

# 5. Loops

## 5.1 For loops

For loops allow you to repeat an action on all the items of an iterable such as ranges, lists and tupples.

For example to create a factorial function you can use a for loop with range:
**Note** again the body of the for loop needs a tab.

In [49]:
def factorial(number):
    if not isinstance(number,int):
        raise TypeError('number must be an int.')
    if number < 0:
        raise ValueError('number must not be negative.')

    ans = 1
    for i in range(number,0,-1):
        ans *= i

    return ans

factorial(6)

720

Dictionaries can be used in for loops through the methods `keys`, `values`, and `items`.

In [50]:
numbers_dict = {"one": 1, "two": 2, "three": 3, "four": 4}
filter_num = 3
filter_let = 'e'

filtered_keys = []
for key in numbers_dict.keys():
    if 'e' in key:
        filtered_keys.append(key)

filtered_values = []
for value in numbers_dict.values():
    if value <3:
        filtered_values.append(value)

filtered_dict = {}
for key, value in numbers_dict.items():
    if 'e' in key and value <3:
        filtered_dict[key] = value

display(filtered_keys,filtered_values,filtered_dict)

['one', 'three']

[1, 2]

{'one': 1}

You can use for loops to create dictionaries and lists. This is usually much Faster and uses less code, see below:

In [51]:
filtered_keys = [key for key in numbers_dict.keys() if 'e' in key]
filtered_values = [value for value in numbers_dict.values() if value <3]
filtered_dict = {key:value for key, value in numbers_dict.items() if 'e' in key and value <3}

display(filtered_keys,filtered_values,filtered_dict)

['one', 'three']

[1, 2]

{'one': 1}

**Useful things to look up when using for loops.**
1. `enumerate` this built-in function generates an index of where the for loop is up to.
2. The package tqdm is very useful for generating progress bars for loops.

# 5.2 While loops

While loops are similar to for loops but will continue doing a process until they reach a stop condition. I have rewriten the factorial function using a while loop.

In [52]:
def factorial2(number):
    if not isinstance(number,int):
        raise TypeError('number must be an int.')
    if number < 0:
        raise ValueError('number must not be negative.')

    ans = 1
    while number>0: # This means do lines with an extra tab below while number>0.
        ans *= number
        number -= 1

    return ans

factorial2(6)

720

# 6. Importing packages

Libraries or packages of useful functions and classes can be imported in the following manner:

In [53]:
import numpy
import numpy as np # Here we have imported pandas the as function allows us to use np to refer to pandas.
from numpy import arange # Here we are importing the function arange from numpy

We can now access arange through either

In [54]:
arange(2,5,0.5)

array([2. , 2.5, 3. , 3.5, 4. , 4.5])

Or

In [55]:
np.arange(2,3,0.25)

array([2.  , 2.25, 2.5 , 2.75])

or

In [56]:
numpy.arange(2,2.5,0.1)

array([2. , 2.1, 2.2, 2.3, 2.4])