# Python and PyGOM Tutorial

By Martin Grunnill
Given on 16<sup>th</sup> January as part of York University's Practicum in Industrial and Applied Math.

Python is one of the most commonly used coding languages, hosting an extensive array of packages in Data Science, Mathematics and Machine Learning. With a syntax that emphasis readability, Python is considered one of the easiest coding languages to learn. It is also free and open source. Therefore, Python code produced in a research project can be more easily shared with others and is more accessible outside of academic institutions.

This Jupyter notebook is divided into three sections:
1. Will then introduce the package Numpy and Pandas. Numpy provides support for handling multidimensional arrays and matrices. Pandas provides access to Dataframe and Serries objects. Dataframes being similar to spreadsheets, with Serries being a one-dimensional variant.
2. The final section of this class with introduce PyGOM. PyGOM provides a toolbox for modeling with Ordinary Differential Equations (ODEs). Having been developed by the UK Health Security Agency, PyGOM has an emphasis on epidemiological modelling. Providing functionality not only for solving ODEs, parameter estimation and stochastic simulation, but methods for deriving the basic reproduction number R0.

# 1. Jupyter Notebooks and the Basics of Python
## 1.1 Jupyter Notebooks: A very brief introduction

We have limited time so this section will only cover enough on Jupyter notebooks to run the tutorial and point you to some extra reading on them.
Jupyter notebooks provide an excellent medium for documenting data analysis and providing demonstrations of code in action (such as this tutorial). This due to Jupyter notebooks being structured around 2 types cells. The first type of cell allows for markdown text, as is used in this cell. The second type allows for code and will display any output from the cell below it. Try running the code cell below by clicking the cell and then pressing Shift+Enter. You can even replace the output by replacing the text. To do this click on the cell replace the text and hit shift+enter.

In [8]:
# Click me, then press shift+enter and the statement in quotations should then appear below.
print('Hello World')

Hello World

Markdown cells can be edited by double clicking on them. To render them back into display text hit shift+enter. For a cheatsheet on markdown see:
* [https://www.ibm.com/docs/en/watson-studio-local/1.2.3?topic=notebooks-markdown-jupyter-cheatsheet](https://www.ibm.com/docs/en/watson-studio-local/1.2.3?topic=notebooks-markdown-jupyter-cheatsheet)

Shortcuts for Jupyter notebooks run in a browser can be found under help->show keyboard shortcuts. These shortcuts maybe different in running a Jupyter notebook in an IDE such as PyCharm or VS code.

The Jupyter project name comes from the coding languages Julia, Python and R. As such Jupyter notebooks can be setup to use those languages and many [others](https://github.com/jupyter/jupyter/wiki/Jupyter-kernels). You can even use multiple languages in the same notebook through using the command `%%` followed by the name of the language, on the first line of a cell. For a tutorials on using R within a Python based notebook see:
* [https://anderfernandez.com/en/blog/how-to-program-with-python-and-r-in-the-same-jupyter-notebook/](https://anderfernandez.com/en/blog/how-to-program-with-python-and-r-in-the-same-jupyter-notebook/)
* [https://www.askpython.com/python/examples/use-r-and-python-in-the-same-notebook](https://www.askpython.com/python/examples/use-r-and-python-in-the-same-notebook)

## 1.2 Basics of Python
### 1.2.1 Comments and block comments.

Single comments can be put into python code using #. This tells python to ignore all text after #. For example the last line of the code cell below is not read by python.

In [9]:
# Not read by ptyhon.
print('Hello')
# Also not read by ptyhon.

Hello

Similarly, text between the block quotes ''' ''' and """ """ is also not read, see example below.

In [10]:
""""
Not
read
by
python.
"""
''' Also Not read by python. '''
print('Hello')

Hello

### 1.2.2 Basic types
#### 1.2.2.1 Numeric Types

As this is part of a Practicum in Industrial and Applied Math course some of the most common basic type you will be dealing with are ints and floats. Lets assign a float and int to variable.

In [11]:
forty_two = 42
pi_ish = 3.14

The in built function `type` can tell you what type a variable is. Replace the pi_sih with forty_two to see which type forty_two is.

In [12]:
type(pi_ish)

float

Basic mathmatical operations are demonstrated below.
**Note** the `display` function on the last line is a Jupyter notebook function that behaves similar way to print.

In [13]:
# Addition
add_exmpl= forty_two + pi_ish
# Subtraction
sub_exmpl = forty_two - pi_ish
# Multiplication
multiplication_exmple = forty_two * pi_ish
# Devision
devision_example = forty_two / pi_ish
# Powers
power_example = forty_two**pi_ish
# Roots
root_example = forty_two**(1/pi_ish)
display(add_exmpl, sub_exmpl, multiplication_exmple, devision_example, power_example, root_example)

45.14

38.86

131.88

13.375796178343949

125026.7009920332

3.2882011185496975

A further note on addition. Numeric types can be added to using `+=` assignment:

In [14]:
a_number = 3
a_number += 2
display(a_number)

5

#### 1.2.2.2 Boolean values

Bool types (short for Boolean values) can be assianed through `True` or `False`. See what happens what happens when you perform mathmatical operations on bool types:

In [16]:
a = True
b = False
display(a, b, a+b, a+a, b+b, a*b, a**2, b**2)

True

False

1

2

0

0

1

0

#### 1.2.2.3 Strings

A string is a representation of text within python and must be surrounded by the quotation marks "" or '', see example below.

In [15]:
basic_string = "blah"
qoute_within_string = 'A quote from Douglas Adams: "Dont Panic"'
display(basic_string, qoute_within_string)

'blah'

'A quote from Douglas Adams: "Dont Panic"'

Strings can be concatanated together with `+`.

In [16]:
greetings = 'Hello' + ' ' + 'there.'
display(greetings)

'Hello there.'

Substrings within a string can be replaced with function `replace`:

In [17]:
new_HGG_qoute = qoute_within_string.replace('"Dont Panic"', '"Time is an illusion. Lunchtime doubly so."')
new_HGG_qoute

'A quote from Douglas Adams: "Time is an illusion. Lunchtime doubly so."'

### 1.2.3 Basic Collections.
#### 1.2.3.1 Lists and Tuples

Lists are one of the most common basic representation of collections of data in python coding. Any types of variables can be assigned within a list. Lists are created using `[]`:

In [18]:
odds_and_ends = ['foo', forty_two, 1]
display(odds_and_ends)

['foo', 42, 1]

Single items can be added to the end of lists through the method `append`:

In [19]:
odds_and_ends.append(greetings)
display(odds_and_ends)

['foo', 42, 1, 'Hello there.']

Lists can be merged/concatenated together:

In [20]:
new_list_1 = ['one',2] + [1,'two']
new_list_2 = new_list_1 + odds_and_ends
new_list_3 = [] # You can assign empty lists
new_list_3 += [qoute_within_string,new_HGG_qoute]
display(new_list_1, new_list_2, new_list_3)

['one', 2, 1, 'two']

['one', 2, 1, 'two', 'foo', 42, 1, 'Hello there.']

['A quote from Douglas Adams: "Dont Panic"',
 'A quote from Douglas Adams: "Time is an illusion. Lunchtime doubly so."']

Lists can be indexed using `[]`. The first item is indexed via `[0]`, the second `[1]` and so on. The last item can be indexed via `[-1]`, the second to last `[-2]` and so on.

In [21]:
display(odds_and_ends[0], odds_and_ends[1], odds_and_ends[-1], odds_and_ends[-2])

'foo'

42

'Hello there.'

1

A lists contents can be unpacked into collections at their creation or functions using `*`:

In [22]:
new_list_4 = [*new_list_3]
display(*new_list_4)

'A quote from Douglas Adams: "Dont Panic"'

'A quote from Douglas Adams: "Time is an illusion. Lunchtime doubly so."'

Tuples behave very similar to lists. They are created via `()`.

In [25]:
tuple_1 = ('foo',pi_ish, 2)
tuple_2 = ('bah', -1, -forty_two)

Tuples unlike lists cannot are immutable so the `append` method is absent from them. However, they can be concatanated to make a new tuple:

In [27]:
tuple_3 = tuple_1 + tuple_2

('foo', 3.14, 2, 'bah', -1, -42)

#### 1.2.3.2 Range

The command `range` will produce a sequence of ints that can be indexed like a list or a tuple. Notice 42 is not the last number in test_range but 41 is.

In [4]:
test_range = range(42)
display(test_range, test_range[0], test_range[-1])

range(0, 42)

0

41

Ranges can start and stop at any int in step sizes that are int values. They can also be unpacked via `*`.

In [10]:
test_range2 = range(2,-10,-3)
display(*test_range2)

2

-1

-4

-7

#### 1.2.3.2 Sets
Sets are unordered collections of unique objects, the elements of which cannot be altered. However, sets be added to. To create a set use `{}` or `set`. Personally I prefer  use `set` as it avoids confusion with dictionaries (see later).

In [18]:
set_1 = {*test_range2}
set_2 = set(['a',2,True])
display(set_1,set_2)

{-7, -4, -1, 2}

{2, True, 'a'}

There are multiple operation surrounding sets (most of them taken from set theory). However, sets are not as commonly used in python as lists or dictionaries, see next section. For a guide to set operations see [https://realpython.com/python-sets/](https://realpython.com/python-sets/).

#### 1.2.3.3 Dictionaries

A dictionary is collection of key value pairs. They are created via `{key:value}`:

In [21]:
dict_1 = {'a':1, 'b':2} # typically people assign strings to keys, but keys can be other types:
dict_2 = {1:'a', 2: 'b'} # or you can have keys of different types:
dict_3 = {1:'a', 'b':2}
display(dict_1,dict_2,dict_3)

{'a': 1, 'b': 2}

{1: 'a', 2: 'b'}

{1: 'a', 'b': 2}

`dict[key]` indexes a value in a dictionary using the key:

In [30]:
display(dict_3[1],dict_3['b'])

'a'

2

Dictionaries can be added to or updated with other dictionaries:

In [25]:
dict_2[3] = 'c'
dict_3.update(dict_2)
display(dict_2,dict_3)

{1: 'a', 2: 'b', 3: 'c'}

{1: 'a', 'b': 2, 2: 'b', 3: 'c'}

Elements of a dictionary can be removed through `del`.

In [26]:
del dict_3[3]
dict_3

{1: 'a', 'b': 2, 2: 'b'}